a:hover{
  color:green;
}
.body {
  display: flex;
  flex-direction: column;
}
.header{		
		background-color: red;
	}
.footer{
		background-color: green;
	}

.main {
  display: flex;
  background-color: gold;
  
}
.aside {
background-color: yellow;	
  flex: 1;
}
.article {
background-color: blue;
  flex: 3;
}
