a:hover{
  color:green;
}
.body {
  display: flex;
  flex-direction: column;
}
header{
		
		background-color: red;
	}
.main {
  display: flex;background-color: gold;
  flex: auto;
}
.aside {
background-color: yellow;	
  flex: 1;
}
.article {
background-color: blue;
  flex: 3;
}
footer{
		background-color: green;
	}
